.cabecalho-menu-hamburguer{ 
    width:35px;
    height: 30px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--cor-do-texto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex; 
    align-items: center;
}

.container-imagem{
    padding: 1em;
}
