@import url("styles/header.css");
:root{ 
    --cor-de-fundo: #240c60;
    --cor-do-texto: #FFFFFF;
--destaque: rgb(192, 119, 238);
--links: darKblue; 
}
.cabecalho{
    background-color: var(--cor-de-fundo); 
}